* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  overflow-x: hidden;
}
:root {
  /* padding  */
  --ppk-padding-s: 10px;
  --ppk-padding-m: 20px;
  --ppk-padding-l: 30px;
  --ppk-padding-xl: 40px;
  /* margin */
  --ppk-margin-s: 10px;
  --ppk-margin-m: 20px;
  --ppk-margin-l: 30px;
  --ppk-margin-xl: 40px;
  /* gap */
  --ppk-gap-xs: 10px;
  --ppk-gap-s: 20px;
  --ppk-gap-m: 30px;
  --ppk-gap-l: 40px;
  --ppk-gap-xl: 50px;
}
.sections {
  margin-top: 50px;
  width: 100svw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 5svh;
  left: 0px;
  gap: var(--ppk-gap-l);
  padding: var(--ppk-padding-l);
  min-width: 350px;
  margin: var(--ppk-margin-m);
}
